.effects__items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 32px 0 72px 0;
}

.effects__items-active {
    animation: slideInFromLeft 1s ease-in-out;
}

.effects__item {
    animation: slideInFromLeft 1s ease-in-out forwards;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 800px) {
    .effects__items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row !important;
        justify-content: space-evenly;
        align-items: baseline;
        overflow: hidden;
    }

    .round-item {
        display: flex !important;
        flex-direction: column !important;
        flex: 0 0 50%;
        width: min-content;
    }
}

@media screen and (max-width: 415px) {
    .round-item {
        width: min-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .order__items {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        flex: 0 0 100%;
    }
}