.massage__items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 32px 0 72px 0;
}

.massage__items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 32px 0 72px 0;
}

.massage__items-active {
    animation: slideInFromRight 1s ease-in-out;
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.massage__item {
    animation: slideInFromRight 1s ease-in-out forwards;
}

.massage__items-image {
    position: absolute;
    right: -2000px;
}

@media screen and (max-width: 800px) {
    .massage__items {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}